html {
    font-family: serif;
}
h1 {
    font-family: "游ゴシック体", "Yu Gothic Medium", "Yu Gothic", sans-serif;
}
h2 {
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Hiragino Maru Gothic", sans-serif;
}